<div class="jumbotron mt-4">
    <h1 class="display-4">About us</h1>
    <br>
    <p class="lead">We are a group of young scientists with overlapping interests in protein engineering. Our research fields are varied, considering experimental techniques, computer skills in software development and knowledge in bioinformatics applications, and Machine Learning and Data Mining strategies, which allows us to generate integrated systems and compete with traditional groups that generate tools in these areas of development.</p>
</div>


<div class="card">
    <h5 class="card-header">Our team</h5>    
    <div class="row">
      <div class="col-sm-4">
        <img class="card-img-top" src="img/team1.png" alt="Card image cap">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Team1</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa sequi consequatur minima obcaecati soluta sint dolor asperiores, nesciunt modi commodi quibusdam amet molestiae assumenda vel perferendis ad dignissimos ducimus quis.</p>
            <a class="card-text" href="">Research Gate</a><br>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <img class="card-img-top" src="img/team1.png" alt="Card image cap">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Team1</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa sequi consequatur minima obcaecati soluta sint dolor asperiores, nesciunt modi commodi quibusdam amet molestiae assumenda vel perferendis ad dignissimos ducimus quis.</p>
            <a class="card-text" href="">Research Gate</a><br>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <img class="card-img-top" src="img/team1.png" alt="Card image cap">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Team1</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa sequi consequatur minima obcaecati soluta sint dolor asperiores, nesciunt modi commodi quibusdam amet molestiae assumenda vel perferendis ad dignissimos ducimus quis.</p>
            <a class="card-text" href="">Research Gate</a><br>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-4">
        <img class="card-img-top" src="img/team1.png" alt="Card image cap">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Team1</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa sequi consequatur minima obcaecati soluta sint dolor asperiores, nesciunt modi commodi quibusdam amet molestiae assumenda vel perferendis ad dignissimos ducimus quis.</p>
            <a class="card-text" href="">Research Gate</a><br>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <img class="card-img-top" src="img/team1.png" alt="Card image cap">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Team1</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa sequi consequatur minima obcaecati soluta sint dolor asperiores, nesciunt modi commodi quibusdam amet molestiae assumenda vel perferendis ad dignissimos ducimus quis.</p>
            <a class="card-text" href="">Research Gate</a><br>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <img class="card-img-top" src="img/team1.png" alt="Card image cap">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Team1</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa sequi consequatur minima obcaecati soluta sint dolor asperiores, nesciunt modi commodi quibusdam amet molestiae assumenda vel perferendis ad dignissimos ducimus quis.</p>
            <a class="card-text" href="">Research Gate</a><br>
          </div>
        </div>
      </div>
    </div>
</div>