<div class="jumbotron mt-4">
    <h1 class="display-4">About us</h1>
    <br>
    <p class="lead">We are a group of young scientists with overlapping interests in protein engineering. Our research fields are varied, considering experimental techniques, computer skills in software development and knowledge in bioinformatics applications, and Machine Learning and Data Mining strategies, which allows us to generate integrated systems and compete with traditional groups that generate tools in these areas of development.</p>
</div>


<div class="card">
    <h5 class="card-header">Our team</h5>    
    <br>
    <div class="row">
      <div class="col-sm-3">
        <img class="card-img-top" src="img/team1.jpeg" alt="Card image cap">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Cristofer Quiroz</h5>
            <p class="card-text">Informatic Engineer at Universidad Autónoma de Chile.</p>
            <a class="card-text" target="_blank" href="https://www.researchgate.net/profile/Cristofer-Quiroz"><i class="fa-2x fab fa-researchgate x-2 mr-2"></i></a>
            <a class="card-text" target="_blank" href="https://github.com/CristoferQ"><i class="fa-2x fab fa-github"></i></a>
            
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <img class="card-img-top" src="img/team2.jpeg" alt="Card image cap">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Yasna Barrera Saavedra</h5>
            <p class="card-text">Bioinformatic Engineer at Universidad de Talca.</p>
            <a class="card-text" target="_blank" href="https://www.researchgate.net/profile/Yasna_Barrera"><i class="fa-2x fab fa-researchgate x-2 mr-2"></i></a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <img class="card-img-top" src="img/team3.jpg" alt="Card image cap">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Benjamín Armijo</h5>
            <p class="card-text">Biotechnology Engineer at Universidad ofChile, Research assistant in the Centre of Biotechnology and Bioengineering.</p>
            <a class="card-text" target="_blank" href="https://www.researchgate.net/profile/Benjamin_Armijo"><i class="fa-2x fab fa-researchgate x-2 mr-2"></i></a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <img class="card-img-top" src="img/team4.jpg" alt="Card image cap">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Juan Amado-Hinojosa</h5>
            <p class="card-text">Ph.D. candidate in Engineering Sciences on Universidad de Chile. Assistant research on the Centre on Biotechnology and Bioengineering.</p>
            <a class="card-text" target="_blank" href="https://www.researchgate.net/profile/Juan-Amado"><i class="fa-2x fab fa-researchgate x-2 mr-2"></i></a>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-3">
        <img class="card-img-top" src="img/team5.jpg" alt="Card image cap">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Álvaro Olivera-Nappa</h5>
            <p class="card-text">Ph.D. in engineering sciences, assistant professor on Universidad de Chile and titular researcher on the Centre on Biotechnology and Bioengineering.</p>
            <a class="card-text" target="_blank" href="https://www.researchgate.net/profile/Alvaro_Olivera-Nappa"><i class="fa-2x fab fa-researchgate x-2 mr-2"></i></a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <img class="card-img-top" src="img/team6.jpg" alt="Card image cap">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Anamaria Sanchez-Daza</h5>
            <p class="card-text">M.Sc. in Biochemistry and Ph.D. in Chemical Engineering and Biotechnology at Universidad de Chile, Postdoctoral researcher in the Centre of Biotechnology and Bioengineering.</p>
            <a class="card-text" target="_blank" href="https://www.researchgate.net/profile/Anamaria-Sanchez"><i class="fa-2x fab fa-researchgate x-2 mr-2"></i></a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
          <img class="card-img-top" src="img/team7.png" alt="Card image cap">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">David Medina-Ortiz</h5>
              <p class="card-text">Ph.D. candidate in Engineering Sciences on Universidad de Chile. Assistant research on the Centre on Biotechnology and Bioengineering.</p>
              <a class="card-text" target="_blank" href="https://www.researchgate.net/profile/David-Medina-32"><i class="fa-2x fab fa-researchgate x-2 mr-2"></i></a>
            </div>
          </div>
      </div>
    </div>    
</div>

<div class="card">
    <h5 class="card-header">How to cite us</h5>    
    <br>
    <div class='table-responsive'>
<table class="table table-bordered text-center">
        <tbody>
          <tr class="d-flex">
                <td class="col-sm-2">APA</td>
                <td class="col-sm-10">Quiroz, C., Saavedra, Y. B., Armijo-Galdames, B., Amado-Hinojosa, J., Olivera-Nappa, Á., Sanchez-Daza, A., & Medina-Ortiz, D. (2021). Peptipedia: a comprehensive database for peptide research supported by Assembled predictive models and Data Mining approaches. arXiv preprint arXiv:2101.12210.</td>
          </tr>
          <tr class="d-flex">
                <td class="col-sm-2">ISO 690</td>
                <td class="col-sm-10">QUIROZ, Cristofer, et al. Peptipedia: a comprehensive database for peptide research supported by Assembled predictive models and Data Mining approaches. arXiv preprint arXiv:2101.12210, 2021.</td>
          </tr>
          <tr class="d-flex">
                <td class="col-sm-2">MLA</td>
                <td class="col-sm-10">Quiroz, Cristofer, et al. "Peptipedia: a comprehensive database for peptide research supported by Assembled predictive models and Data Mining approaches." arXiv preprint arXiv:2101.12210 (2021).</td>
          </tr>
        </tbody>
    </table>

</div>
     
</div>