<div class="jumbotron mt-4">
    <h1 class="display-4">About us</h1>
    <br>
    <p class="lead">We are a group of young scientists with overlapping interests in protein engineering. Our research fields are varied, considering experimental techniques, computer skills in software development and knowledge in bioinformatics applications, and Machine Learning and Data Mining strategies, which allows us to generate integrated systems and compete with traditional groups that generate tools in these areas of development.</p>
</div>


<div class="card">
    <h5 class="card-header">Our team</h5>    
    <br>
    <div class="row">
      <div class="col-sm-3">
        <img class="card-img-top" src="img/team1.png" alt="Card image cap">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Cristofer Quiroz</h5>
            <p class="card-text">Informatic Engineer at Universidad Autónoma de Chile.</p>
            <a class="card-text" href="">Research Gate</a><br>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <img class="card-img-top" src="img/team2.png" alt="Card image cap">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Yasna Barrera Saavedra</h5>
            <p class="card-text">Bioinformatic Engineer at Universidad de Talca.</p>
            <a class="card-text" href="">Research Gate</a><br>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <img class="card-img-top" src="img/team3.jpg" alt="Card image cap">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Benjamín Armijo</h5>
            <p class="card-text">Biotechnology Engineer at Universidad ofChile, Research assistant in the Centre of Biotechnology and Bioengineering.</p>
            <a class="card-text" href="">Research Gate</a><br>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <img class="card-img-top" src="img/team4.jpg" alt="Card image cap">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">JuanAmado-Hinojosa</h5>
            <p class="card-text">Ph.D. candidate in Engineering Sciences on Universidad de Chile. Assistant research on the Centre on Biotechnology and Bioengineering.</p>
            <a class="card-text" href="">Research Gate</a><br>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-3">
        <img class="card-img-top" src="img/team5.jpg" alt="Card image cap">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Álvaro Olivera-Nappa</h5>
            <p class="card-text">Ph.D. in engineering sciences, assistant professor on Universidad de Chile and titular researcher on the Centre on Biotechnology and Bioengineering.</p>
            <a class="card-text" href="">Research Gate</a><br>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <img class="card-img-top" src="img/team6.jpg" alt="Card image cap">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Anamaria Sanchez-Daza</h5>
            <p class="card-text">M.Sc. in Biochemistry and Ph.D. in Chemical Engineering and Biotechnology at Universidad de Chile, Postdoctoral researcher in the Centre of Biotechnology and Bioengineering.</p>
            <a class="card-text" href="">Research Gate</a><br>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
          <img class="card-img-top" src="img/team7.png" alt="Card image cap">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">David Medina-Ortiz</h5>
              <p class="card-text">Ph.D. candidate in Engineering Sciences on Universidad de Chile. Assistant research on the Centre on Biotechnology and Bioengineering.</p>
              <a class="card-text" href="">Research Gate</a><br>
            </div>
          </div>
      </div>
    </div>    
</div>