<link href="css/bstreeview.css" rel="stylesheet">
<div class="jumbotron mt-4">
    <h1 class="display-4">Classification</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum enim, dignissimos iusto sunt placeat quisquam minus repudiandae voluptates ipsa mollitia inventore, eligendi consequuntur dolorem consequatur ad nulla accusantium blanditiis non!</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo omnis ratione natus est non ex animi molestiae atque sed ab.</p>
</div>


<div class="card">
    <h5 class="card-header">Description</h5>    
    <div class="card-body">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias explicabo, asperiores sunt vitae enim fugit fugiat. Nisi omnis quam vitae?</p>
    </div>
    <h5 class="card-header">Inputs</h5>    
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Sequences in FASTA format</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="8"></textarea>
            </div>
            <div class="text-center">
                <button id="btn1" type='button' class="btn btn-success btn-lg">Calculate</button>
                <button type='button' class="btn btn-dark btn-lg" onclick="javascript:eraseText();">Clear</button>
            </div>
        </form>
    </div>
    <div id="wait" class="text-center">
    <h2>The results are being processed, this will take a few seconds</h2>
    <i class="fa-5x fas fa-cog fa-spin"></i>
    <br>
    <br>
    </div>
    <div id="all" class="card">
    <h5 class="card-header">Results</h5>    
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-dark" id="tabla">
                <thead>
                    <tr>
                    <th scope="col">Sequence id</th>
                    <th scope="col">Probability of belonging to activity</th>
                    <th scope="col">View more</th>
                    </tr>
                </thead>
                <tbody>
                    <th>Test</th>
                    <th><div id="tree"></div></th>
                </tbody>
            </table>
        </div>
    </div>
    </div>
    <div id="images" class="card">
        <h5 class="card-header">Images</h5>    
        <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <img id="helical" class="card-img-top" src="" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        </div>
    </div>
    </div>
    


<div id="tree"></div>
</div>
<script src="js/bstreeview.js"></script>
<script>
		var json = [
				{	
					id: "Propeptide",
					text: "Propeptide 'Propeptide'",
				},
				{
					id: "Signal",
					text: "Signal 'Signal'",
				},
				{
					id: "Transit",
					text: "Transit 'Transit'",
				},
				{
					id: "Sensorial",
					text: "Sensorial 'Sensorial'",
					nodes: [
						{
							id: "Quorumsensing",
							text: "Quorumsensing 'Quorumsensing'",
						},
						{
							id: "Chemotactic",
							text: "Chemotactic 'Chemotactic'",
						},
						{
							id: "Cell-cellcommunication",
							text: "Cell-cellcommunication 'Cell-cellcommunication'",
						},
						{
							id: "Defense",
							text: "Defense 'Defense'",
						}
					]
				},
                {
					id: "Drug delivery vehicle",
					text: "Drug delivery vehicle 'Drug delivery vehicle'",
					nodes: [
						{
							id: "Cell-penetrating",
							text: "Cell-penetrating 'Cell-penetrating'",
						},
						{
							id: "Blood-brain barrier crossing",
							text: "Blood-brain barrier crossing 'Blood-brain barrier crossing'",
						}
					]
				},
                {
					id: "Therapeutic",
					text: "Therapeutic 'Therapeutic'",
					nodes: [
						{
							id: "Antimicrobial",
							text: "Antimicrobial 'Antimicrobial'",
                            nodes: [
                                {
                                    id: "Antiviral",
                                    text: "Antiviral 'Antiviral'",
                                    nodes: [
                                        {
                                            id: "Anti-HIV",
                                            text: "Anti-HIV 'Anti-HIV'",
                                        }, 
                                        {
                                            id: "Anti-HSV",
                                            text: "Anti-HSV 'Anti-HSV'",
                                        }
                                    ]
                                }, 
                                {
                                    id: "Antibacterial/antibiotic",
                                    text: "Antibacterial/antibiotic 'Antibacterial/antibiotic'",
                                    nodes: [
                                        {
                                            id: "Antibiofilm",
                                            text: "Antibiofilm  'Antibiofilm'",
                                        }, 
                                        {
                                            id: "Anti Gram(+)",
                                            text: "Anti Gram(+) 'Anti Gram(+)'",
                                            nodes: [
                                                {
                                                    id: "Antilisterial",
                                                    text: "Antilisterial  'Antilisterial'",
                                                }, 
                                                {
                                                    id: "Anti MRSA",
                                                    text: "Anti MRSA 'Anti MRSA'",
                                                }
                                            ]
                                        },
                                        {
                                            id: "Anti Gram(-)",
                                            text: "Anti Gram(-)  'Anti Gram(-)'",
                                        },
                                        {
                                            id: "Anti TB",
                                            text: "Anti TB  'Anti TB'",
                                        },
                                        {
                                            id: "Bacteriocins",
                                            text: "Bacteriocins  'Bacteriocins'",
                                        }
                                    ]
                                }, 
                                {
                                    id: "Antifungal",
                                    text: "Antifungal 'Antifungal'",
                                    nodes: [
                                        {
                                            id: "Anti Yeast",
                                            text: "Anti Yeast 'Anti Yeast'",
                                        }
                                    ]
                                }, 
                                {
                                    id: "Antiprotozoal",
                                    text: "Antiprotozoal 'Antiprotozoal'",
                                    nodes: [
                                        {
                                            id: "Antimalarialantiplasmodial",
                                            text: "Antimalarialantiplasmodial 'Antimalarialantiplasmodial'",
                                        }
                                    ]
                                }, 
                                {
                                    id: "AnuroDefense",
                                    text: "AnuroDefense 'AnuroDefense'",
                                }
                                
                            ]
						}, 
						{
							id: "Toxic",
							text: "Toxic 'Toxic'",
                            nodes: [
                                {
                                    id: "Antiparasitic",
                                    text: "Antiparasitic 'Antiparasitic'",
                                },
                                {
                                    id: "Cytolytic",
                                    text: "Cytolytic 'Cytolytic'",
                                    nodes: [
                                        {
                                            id: "Hemolytic",
                                            text: "Hemolytic 'Hemolytic'",
                                        }
                                    ]
                                },
                                {
                                    id: "Insecticidal",
                                    text: "Insecticidal 'Insecticidal'",
                                }

                            ]
						},
                        {
							id: "Metabolic",
							text: "Metabolic 'Metabolic'",
                            nodes: [
                                {
                                    id: "Antihypertensive",
                                    text: "Antihypertensive 'Antihypertensive'",
                                },
                                {
                                    id: "Anti Diabetic",
                                    text: "Anti Diabetic 'Anti Diabetic'",
                                },
                                {
                                    id: "Antiinflammatory",
                                    text: "Antiinflammatory 'Antiinflammatory'",
                                },
                                {
                                    id: "Enzymeinhibitor",
                                    text: "Enzymeinhibitor 'Enzymeinhibitor'",
                                },
                                {
                                    id: "Regulatory",
                                    text: "Regulatory 'Regulatory'",
                                },
                                {
                                    id: "AntiAngiogenic",
                                    text: "AntiAngiogenic 'AntiAngiogenic'",
                                }
                            ]
						},
                        {
							id: "Anticancer",
							text: "Anticancer 'Anticancer'",
                            nodes: [
                                {
                                    id: "Antitumour",
                                    text: "Antitumour 'Antitumour'",
                                }
                            ]
						},
                        {
							id: "Bioactive",
							text: "Bioactive 'Bioactive'",
                            nodes: [
                                {
                                    id: "Antioxidant",
                                    text: "Antioxidant 'Antioxidant'",
                                }
                            ]
						}
					]
				},
                {
					id: "Other",
					text: "Other 'Other'",
					nodes: [
						{
							id: "Cancer-cell",
							text: "Cancer-cell 'Cancer-cell'",
						},
						{
							id: "Mammalliancell",
							text: "Mammalliancell 'Mammalliancell'",
						},
                        {
							id: "Proteolytic",
							text: "Proteolytic 'Proteolytic'",
						},
                        {
							id: "Surfaceimmobilized",
							text: "Surfaceimmobilized 'Surfaceimmobilized'",
						}
					]
				},
                {
					id: "Neurologicalactivity",
					text: "Neurologicalactivity 'Neurologicalactivity'",
					nodes: [
						{
							id: "Neuropeptide",
							text: "Neuropeptide 'Neuropeptide'",
						},
						{
							id: "Antinociceptive",
							text: "Antinociceptive 'Antinociceptive'",
						},
                        {
							id: "Brainpeptide",
							text: "Brainpeptide 'Brainpeptide'",
						}
					]
				},
                 {
					id: "Immunological",
					text: "Immunological 'Immunological'",
					nodes: [
						{
							id: "Allergen",
							text: "Allergen 'Allergen'",
						},
                        {
							id: "Immunomodulatory",
							text: "Immunomodulatory 'Immunomodulatory'",
                            nodes: [
                                {
                                    id: "Woundhealing",
                                    text: "Woundhealing 'Woundhealing'",
                                }
                            ]
						}
					]
				},
                 {
					id: "Non activity",
					text: "Non activity 'Non activity'"
				}
			];

			$('#tree').bstreeview({
				data: json,
                expandIcon: 'fa fa-angle-down fa-fw',
                collapseIcon: 'fa fa-angle-right fa-fw',
                indent: 1.25,
                parentsMarginLeft: '1.25rem',
                openNodeLinkOnNewTab: true
			});
function eraseText() {
    document.getElementById("exampleFormControlTextarea1").value = "";
    $("#exampleFormControlTextarea1").focus();
}
</script>
