<div class="jumbotron mt-4">
    <h1 class="display-4">Tools</h1>
    <br>
    <p class="lead">Different sequence analysis tools are implemented in Peptipedia, focusing not only on the characterization of sequences but also on the applications of bioinformatic tools and Machine Learning and data mining strategies to identify patterns, train models and classify peptides according to activity in based on existing pretrained models on Peptipedia.</p>
</div>
<div id="all" class="card">
    <h5 class="card-header">Services</h5>    
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Peptide sequence characterization</h5>
            <p class="card-text">Characterization of peptide sequences using physicochemical, structural, and simple statistical properties.</p>
            <a href="/characterization" class="btn btn-primary">Use this tool</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Activity prediction for sequences</h5>
            <p class="card-text">Activity prediction for sequences supported by Machine Learning algorithms.</p>
            <a href="/classification" class="btn btn-primary">Use this tool</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Alignment sequences</h5>
            <p class="card-text">Alignment sequences using Blast tools and the Peptipedia DataBase.</p>
            <a href="/alignment" class="btn btn-primary">Use this tool</a>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Statistical residue analysis</h5>
            <p class="card-text">Frequency analysis of amino acids in peptide sequences are generated from statistical techniques, analyzing the trend by residues.</p>
            <a href="/frequency" class="btn btn-primary">Use this tool</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Peptide sequence encoding</h5>
            <p class="card-text">Encoding peptide sequences using classical approaches as One Hot Encoder or more recent strategies developed based on digital signal and Natural Language Processing.</p>
            <a href="/encoding" class="btn btn-primary">Use this tool</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Training predictive models</h5>
            <p class="card-text">Training predictive models using specific amino acidic sequences and a particular response, as for example, thermostability, enantioselectivity, or binary response as for example, is toxic or no.</p>
            <a href="/training" class="btn btn-primary">Use this tool</a>
          </div>
        </div>
      </div>
    </div>
</div>
