<div class="jumbotron mt-4">
    <h1 class="display-4">TOOLS</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum enim, dignissimos iusto sunt placeat quisquam minus repudiandae voluptates ipsa mollitia inventore, eligendi consequuntur dolorem consequatur ad nulla accusantium blanditiis non!</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo omnis ratione natus est non ex animi molestiae atque sed ab.</p>
</div>
<div id="all" class="card">
    <h5 class="card-header">Services</h5>    
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Characterization service</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="/characterization" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Classification system</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="/classification" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Alignment service</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="/alignment" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Frecuency residues service</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="/frequency" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Encoding service</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="/encoding" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Training service</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="/" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
</div>
