<!-- Footer -->
<footer class="page-footer font-small">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a > Developed by Cristofer Quiroz - Email: ceql@live.cl</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->